.body   {
    margin: 0;
    padding: 0;
}

.container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif; 
}

.card  {
    margin-top: 2rem;
    padding: 10px;
}

.btn.btn-primary   {
    display: flex;
    justify-content: center;
    
}
